{% extends 'base.html' %}
{% load static %}

{% block title %}AR/VR/MR development{% endblock %}

{% block content %}
<h1 class="content-head">AR/VR/MR</h1>
<h3 class="content-by"><i>-By Nihala</i></h3>
<h2 class="what">What is AR VR?</h2>
<p class="ans">
    AR (Augmented Reality) and VR (Virtual Reality) are 
computer-generated sensory experiences. AR <br>
enhances the real world by overlaying computer generated objects through devices such as 
smartphones and smart glasses. VR is a fully <br>
immersive experience where users are placed within a 
virtual environment through a headset. These <br>
technologies are used in industries such as 
entertainment, education, healthcare, and gaming. <br> 
They are also being explored for their potential in 
training and simulation applications.
</p>
<h2 class="how">How to learn AR VR?</h2>
<ol class="lt">
    <li>Define your AR/VR 
        learning goals by 
        identifying the desired 
        outcomes and specific 
        skills you wish to develop.
    </li>
    <li>Learn the fundamentals of 
        AR/VR development by 
        starting with the basics of 
        programming and 3D 
        modeling, which are 
        essential skills.
    </li>
    <li>Choose an AR/VR 
        platform that aligns with 
        your learning goals from 
        popular options like 
        Unity, Unreal Engine, and 
        ARKit.
    </li>
    <li>Participate in AR/VR 
        workshops and events to 
        network with developers, 
        learn new techniques, 
        and gain hands-on 
        experience.
    </li>
    <li>Practice building AR/VR 
        projects, starting with simple 
        projects and gradually 
        increasing complexity.
    </li>
    <li>
        Join online communities 
or forums to connect 
with peers, ask questions, 
share projects, learn 
from others in the field, 
and stay up-to-date on 
new developments.
    </li>
</ol>
<br><br>
<a class="lk" href="https://learn.mulearn.org/arvr" target="_blank"><p>Click here to join and get spport from mulearn on AR/VR development</p></a>
{% endblock %}