{% extends 'base.html' %}
{% load static %}

{% block title %}Coding Club{% endblock %}

{% block content %}
<div class="clb" style="min-height: 80vh;">
    <h1 class="what">About</h1>
    <p class="ans">Ajas Coding club was founded in 2021 by Irfana,Rasha and Sumana starting with 17 members now it has grown to a club of 84 members actively working with self-learning,peer-to-peer learning and bootcamps programs after regular class hours
        Now AJAS Coding Club has collabrated with Mulearn to form Mulearn ajas to increase its network and community support we also plan to collabrate with ICFOSS to start a FOSS cell to contribute and take benefits of ICFOSS
        Lets come together and progress together
    </p>
    <h1 class="what">Execom members</h1>
    <p class="ans">Campus Lead:Sumana<br>
        Co-Lead:Shabeeb <br>
        Media Lead:Hiba <br>
        Event Lead:Fida <br>
        Jr Leads: Ameen,Afniya
    </p>
    <h1 class="what">Our Aim</h1>
    <p class="ans">Our aim is to make our members atleast make understand a general purpose language,framework,develop a skill and help them find and acheive their passion
    </p>
    <h1 class="what">Teams we formed</h1>
    <p class="ans">Team oneandzerooo<br>
        boolean hooligans
    </p>
    <h1 class="what">Our acheivements</h1>
    <p class="ans">Runners up in 'IT EXHIBITA' held at Christ college Irinjalakkada<br>
        Winner in coding competetion of Zerone held at Mes Ponani<br>
        Finalist at Brocode challenge <br>
        Published 2 posters in ICFOSS academic magazine<br>
        Winner at Poster presentation held at technopark,TVM in the event 'FOSS-CILT23' organised by ICFOSS<br>
        3rd place in 'Xplora' Woman Hackathon organised by ICFOSS <br>
        Best acheivement of them all are active participation in more & more competetions and many students got atleast a basic understanding of a general purpose language
    </p>
</div>
{% endblock %}