{% extends 'base.html' %}
{% load static %}

{% block title %}Cybersecurity{% endblock %}

{% block content %}
<h1 class="content-head">Cybersecurity</h1>
<h3 class="content-by"><i>-By Ayisha</i></h3>
<h2 class="what">What is Cybersecurity?</h2>
<p class="ans">Cybersecurity is the practice of safeguarding 
    computer systems, networks, and digital information 
    from unauthorized access, theft, damage, or malicious 
    activity. It includes technologies, processes, and 
    policies designed to protect against cyber attacks, 
    data breaches, and other security threats. As 
    organizations rely more on technology and store 
    sensitive data online, cybersecurity is becoming 
    increasingly important.
</p>
<h2 class="how">How to learn Cybersecurity?</h2>
<ol class="lt">
    <li>Learn computer 
        basics, networking, 
        and common cyber 
        attacks.
    </li>
    <li>Study cybersecurity 
        framework components: 
        prevention, detection, 
        response, recovery.
    </li>
    <li>Grasp security 
        technologies and tools 
        used for computer and 
        network security
    </li>
    <li>Explore popular 
        cybersecurity 
        programming 
        languages like Python 
        and JavaScript.
    </li>
    <li>Gain practical 
        cybersecurity skills 
        through challenges, 
        competitions, and 
        simulations.</li>
    <li>
        Keep current with 
cybersecurity news and 
trends by following 
industry blogs, forums, 
and conferences.
    </li>
    <li>
        Join communities to 
connect with peers, 
ask questions, share 
projects, learn from 
others in the field, & 
stay up-to-date on 
new developments.
    </li>
</ol>
<br><br>
<a class="lk" href="https://learn.mulearn.org/cybersec" target="_blank"><p>Click here to join and get spport from mulearn on Cybersecurity</p></a>
{% endblock %}