{% extends 'base.html' %}
{% load static %}

{% block title %}Game development{% endblock %}

{% block content %}
<h1 class="content-head">Game development</h1>
<h3 class="content-by"><i>-By Ali</i></h3>
<h2 class="what">What is Game development?</h2>
<p class="ans">
    Game development is the process of creating and designing video games. It involves coming up with ideas, 
    designing characters and worlds, programming the game's functionality, and putting <br> everything together to make a fun and 
    interactive experience for players.
</p>
<h2 class="how">How to learn Game Development?</h2>
<ol class="lt">
    <li>Idea: Come up with a cool game concept or story
    </li>
    <li>Design: Plan how the game will look, what characters and objects it will have, and how players will interact with them.
    </li>
    <li>Art and Graphics: Create the visual elements, like characters, backgrounds, and animations.
    </li>
    <li>Programming: Write the code that makes the game work, like making characters move and interact.
    </li>
    <li>Sound and Music: Add sounds and music to make the game more engaging.
    </li>
    <li>Testing: Try out the game to find and fix any bugs or issues.
    </li>
    <li>Polishing: Make the game look and feel great by refining graphics, controls, and gameplay.</li>
    <li>Release: Launch the game for players to enjoy!</li>
</ol>
<br><br>
<p class="lk">Join coding club and find your interest group or form your own interest group</p>
{% endblock %}