{% extends 'base.html' %}
{% load static %}

{% block title %}Mulearn{% endblock %}

{% block content %}
<div class="mu">
<a href="https://mulearn.org/" target="_blank"><img src="{% static 'images/mulearn.png' %}" alt=""></a>
<h1 class="what">Let's break the Echo Chambers Together.</h1>
<p class="ans">µLearn is a synergic philosophy of education, <br>with a culture of mutual learning through micro peer groups. 
    <br>We are here to assist you in breaking through the echo chambers and free you from the shackles you have grounded yourself in.<br>
To know more about mulearn click on it's logo</p>
    <img src="{% static 'images/partners.png' %}" alt="">
</div>
{% endblock %}