{% extends 'base.html' %}
{% load static %}

{% block title %}UI/UX{% endblock %}

{% block content %}
<h1 class="content-head">UI/UX</h1>
<h3 class="content-by"><i>-By Hiba</i></h3>
<h2 class="what">What is UI/UX?</h2>
<p class="ans">User Experience (UX) is the overall experience a user 
    has when interacting with a product or service. It <br> 
    encompasses all aspects of the user's interaction, from 
    usability and accessibility to design and satisfaction. <br>  
    The goal of UX design is to create intuitive, user-friendly 
    interfaces and workflows that allow users to <br>
    accomplish their goals efficiently and effectively. To 
    achieve this, UX design requires a deep understanding <br> 
    of user behaviour, needs, and preferences, and 
    continuous testing and feedback to ensure the best <br>
    possible experience. Ultimately, the purpose of UX 
    design is to create a positive experience for the user, <br> 
    leading to increased engagement, retention, and 
    loyalty.</p>
<h2 class="how">How to learn UI/UX?</h2>
<ol class="lt">
    <li>Read books and 
        articles
    </li>
    <li>Take online courses and 
        tutorials
    </li>
    <li>Practice design 
        exercises
    </li>
    <li>Attend UX design 
        events
    </li>
    <li>Get feedback
    </li>
    <li>
        Work on real projects
    </li>
    <li>Join communities to 
        connect with peers, ask 
        questions, share projects, 
        learn from others in the 
        field, & stay up-to-date 
        on new developments.</li>
</ol>
<br><br>
<a class="lk" href="https://learn.mulearn.org/uiux" target="_blank"><p>Click here to join and get spport from mulearn on UI/UX</p></a>
{% endblock %}